//Faq
.faq{
	.card{
		border: none;
	}
	.card-header{
		background-color: #000000!important;
		border-color: #515365;
		color
		h5{
			margin-bottom: 0;
			color: #fff;
			a{
				color: #515365;
			}
		}
	}	
	.card-body{
		background-color: #222!important;
		color: #fff;
	}
}

#accordion{
	.card{
		border: none;
	}
	.card-header{
		background-color: #000000!important;
		border-color: #515365;
		color
		h5{
			margin-bottom: 0;
			a{
				color: #fff!important;
			}
		}
	}	
	.card-body{
		background-color: #222!important;
		color: #fff;
	}
}